.body{
      font-family: "Montserrat", sans-serif !important;
      background: #292727 !important;
}
.swiper.swiper-button-prev .swiper.swiper-button-prev{
    font-size: 10px !important;
    background-color: #f1f1f1 !important;
    border-radius: full !important;
}

.btn-blue{
    background-color: #3872fa !important;
    color: #fff !important;
    padding: 8px 20px !important;
}
.btn-blue:hover{
    background: #3067e5;
}
.btn-sm{
    padding: 6px 20px !important;
    font-size: 13px !important;
}
::-webkit-scrollbar{
    width: 10px !important;
    height: 10px !important;
}
::-webkit-scrollbar-thumb{
    background: #ccc !important;    
}
.btn{
        padding: 8px 20px !important;

}




