.body{
      font-family: "Montserrat", sans-serif !important;
      background-color: rgb(196, 193, 193) !important;
     
}
.swiper.swiper-button-prev .swiper.swiper-button-prev{
    font-size: 10px !important;
    background-color: #f1f1f1 !important;
    border-radius: full !important;
}

.btn-blue{
    background-color: #3872fa !important;
    color: #fff !important;
    padding: 8px 20px !important;
}
.btn-blue:hover{
    background: #3067e5;
}
.btn-sm{
    padding: 6px 20px !important;
    font-size: 13px !important;
}
::-webkit-scrollbar{
    width: 10px !important;
    height: 10px !important;
}
::-webkit-scrollbar-thumb{
    background: #ccc !important;    
}
.btn{
        padding: 8px 20px !important;

}

.MuiAppBar-colorPrimary{
    background: #e6e6e6 !important;
}

/* .MuiButtonBase-root{
    color: black !important;
} */
/* .MuiTypography-h6{
    color:black !important;
} */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.MuiSelect-select {
    background: #fff !important;
}

.otpbox input { border: 2px solid rgba(0,0,0,0.3) !important; outline: none !important; border-radius: 4px !important;}
.otpbox input:focus{border: 1px solid rgba(0,0,0,0.7) !important ;}
.otpbox .container{height: 100vh !important; display: flex !important;}
