@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 100% !important;
  /* margin: auto !important; */
  align-content: center !important;
  max-width: 100% !important;
padding:7px !important
}

body {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  color: rgba(0,0,0,0.9);
  background-color: rgb(251, 250, 250);
  width: 100%;              /* ✅ fixed */
  margin: 0;                /* ✅ remove default margins */
  padding: 0;
  overflow-x: hidden;       /* ✅ prevent horizontal scroll */
}


::-webkit-scrollbar{width:8px !important; height:8px !important; border-radius: 30% !important;}
::-webkit-scrollbar-thumb{
    background-color: #ff5252 !important;
}
::-webkit-scrollbar-track{
    background-color: gray!important;
}

.overflow-x-auto::-webkit-scrollbar-thumb{
    background-color: #ccc !important;
}


.btn-org{background:#ff5252 !important; color: #fff !important; font-weight: 500; font-size: 16px;}
.btn-org:hover{background-color: #171717 !important;}

.btn-org.btn-border{background:none !important; color: #ff5252 !important;  border:1px solid #ff5252 !important ; font-weight: 500; font-size: 16px;}
.btn-org.btn-border:hover{background: #171717 !important; color: #fff !important;  border:1px solid #171717 !important ;}

.btn-lg{
    font-size: 18px !important;
    padding: 7px 20px !important;
}

.btn-sm{
    font-size: 12px !important;
    padding: 5px 20px !important;
}
 .drawerpanel{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    background: #f5f0f0;
    color:rgba(0,0,0,0.9);
}


p{
    font-size: 14px;
    line-height: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}


header .top-strip{
    border-top: 2px solid rgba(0,0,0,0.1);border-bottom: 2px solid rgba(0,0,0,0.1); font-style: bolder; 
}

.bg-org{
    background-color: #ff5252;
}
.link:hover{
    color: #ff5252;
}
.MuiBadge-badge{
    background-color: #ff5252 !important;
}
.MuiBadge-badge:hover{
    background-color: #e5e5e5 !important;
}


.myslider{
    overflow: inherit !important;
}
.swiper-button-prev,
.swiper-button-next{
    display:flex;
    align-items: center;
    justify-content: center;
    background:#fff;
    border-radius: 100%;
    width: 45px;
    height:45px;
    min-width: 45px;
}
.swiper-button-prev:after,
.swiper-button-next:after{
    font-size: 20px !important;
    color:#000;
    
}

.homecatslider .items:hover img{
    transform :scale(1.2);
} 

.Smbtn .swiper-button-prev, .Smbtn .swiper-button-next{
     width: 30px;
    height:30px;
    min-width: 30px;
}

.Smbtn .swiper-button-prev:after,
.Smbtn  .swiper-button-next:after{
    font-size: 20px !important;
    color:#000;
    
}
.MuiTabs-indicator{
    background-color: rgba(255,0,0,0.6) !important;
}

.Productitems .title{
    line-height: 20px;
}

.Productslide .swiper-slide{
   padding: 25px;
   margin-left:-15px;
   margin-right:-15px;

}

footer form input::placeholder{
    font-size: 20px ;

}
.swiper-button-next:hover,
.swiper-button-prev:hover{
background-color: #ff5252 !important;
    color: #fff ;
    
}
.swiper-button-prev:after,
.swiper-button-next:after{
    font-size: 20px !important;
    color:#000;
    
}
.swiper-button-prev,
.swiper-button-next{
    display:flex;
    align-items: center;
    justify-content: center;
    background:#fff;
    border-radius: 100%;
    width: 45px;
    height:45px;
    min-width: 45px;
}

.homeslider .swiper-slide-active .info{
    right:0px !important;
    opacity: 1 !important

}

.homeslider .swiper-slide-active .info h4{
    right:0px !important;
    opacity: 1 !important

}
.homeslider .swiper-slide-active .info h2{
    right:0px !important;
    opacity: 1 !important

}

.homeslider .swiper-slide-active .info h3{
    right:0px !important;
    opacity: 1 !important

}
.homeslider .swiper-slide-active .info .btn{
    right:0px !important;
    opacity: 1 !important

}
.homeslider  .info .btn{
    transition-duration: 1.5s;
}

.homeslider  .info h4{
    transition-duration: 3s;
}
.homeslider  .info h2{
    transition-duration: 2s;
}
.homeslider  .info h3{
    transition-duration: 1s;
}


.MuiCheckbox-root{
    padding: 6px !important;
}
.itemviewaction button.active svg{
    color:#ff5252 !important;
    opacity: 1;
}
.Mui-selected{
    background-color: #ff5252 !important;
    color: #fff !important;
}


.productslider  .swiper-button-prev:after{
    transform:rotate(-90deg) !important;
}
.productslider  .swiper-button-next{
    bottom: 0px !important;
    right: inherit !important;
    top:inherit !important;
    width: 100% !important;
    height:30px !important;
    border-radius: 0px !important;

}
.productslider  .swiper-button-prev{
    top: 20px !important;
    left:  0px!important;
     width: 100% !important;
    height:30px !important;
    border-radius: 0px !important;
}


.productslider  .swiper-button-next:after{
    transform: rotate(90deg) !important ;
}



.productcontainer .actions button{
    min-width:40px !important;
    border:1px solid rgba(0,0,0,0.1) !important;
    height:30px !important;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield; 
}

.iiz{
    border-radius: 10px !important;
}
.newscroll::-webkit-scrollbar-thumb{
    background-color: #ccc !important;
}
.newscroll::-webkit-scrollbar{
    width:5px !important;
    border-radius: 20px !important;

}


.cartPanel .MuiPaper-root{
    width: 400px !important;
    overflow: hidden;
}
#size-menu .MuiButtonBase-root{
    font-size:12px !important;
}

.scroll::-webkit-scrollbar{
    width: 5px !important;
}

.scroll::-webkit-scrollbar-thumb{
    background: #ccc !important;
}

/* Otp box */

.otpbox input { border: 2px solid rgba(0,0,0,0.3) !important; outline: none !important; border-radius: 4px !important;}
.otpbox input:focus{border: 1px solid rgba(0,0,0,0.7) !important ;}
.otpbox .container{height: 100vh !important; display: flex !important;}


#account-menu .MuiPaper-root{
    width: 200px !important;
}
.newpart .MuiButton-root{
    width:100% !important;
    height:100% !important;
}

.card{
    padding:0em !important;
}
.myaccountabs li a{
    position: relative;
   
}
.myaccountabs li a::before{
    content: ' ';
    width: 3px ;
    height: 50%;
    position: absolute;
    top:50%;
    left:0%;
    background-color: #ff5252 !important;
    transition: all 0.3 ease-in-out;
    opacity: 0;
}

.myaccountabs li a.active::before{
    height: 100%;
    opacity: 1;
    top: 0%;

}

.myaccountabs li a.active button svg{
    color: #ff5252 !important;
    opacity: 1 !important;
}

button .MuiCircularProgress-root{
    width: 30px !important;
    height: 30px !important;
}

.react-international-phone-input{
    width:90% !important;
}

.react-international-phone-country-selector-button{
    width: 55px !important;
}
.react-international-phone-input-container{
    border:1px solid rgba(0,0,0,0.1) !important;
    border-radius: 20% !important;
}
.MuiDialog-paper{
    max-width:800px !important;
    width:700px !important;
}


